{% extends 'layout.html' %}
{% block title %}
    Patient Profile
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/patientprofile.css') }}">
{% endblock %}
{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <!-- Patient Information Section -->
        <div class="col-md-9">
            <div class="p-3 py-5">
                <h4 class="mb-4">Patient Information</h4>
                <form method="POST" action="{{ url_for('patientProfileUpdate') }}">
                    {{ form.hidden_tag() }}
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">Name</label>
                            {{ form.name(class="form-control", value=patient['name']) }}
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Age</label>
                            {{ form.age(class="form-control", value=patient['age']) }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="labels">Gender</label>
                            {{ form.gender(class="form-control", value=patient['gender']) }}
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Blood Group</label>
                            {{ form.blood_group(class="form-control", value=patient['blood_group']) }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="labels">Contact Number</label>
                            {{ form.contact_number(class="form-control", value=patient['contact_number']) }}
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Email</label>
                            {{ form.email(class="form-control", value=session['email']) }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Address</label>
                            {{ form.address(class="form-control", value=patient['address']) }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Medical History</label>
                            {{ form.medical_history(class="form-control", value=patient['medical_history'], rows=4) }}
                        </div>
                    </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                {{ form.submit(class="btn btn-success btn-block", value="Update Profile") }}
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}