{% extends 'layout.html' %}

{% block title %}
    New-Post
{% endblock  %}
{% block content %}
    
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Report a Problem</h1>
            
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                
                <!-- Customer Name -->
                <div class="form-group">
                    {{ form.name.label(class="control-label") }}
                    {{ form.name(class="form-control") }}
                    {% for error in form.name.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                
                <!-- Email Address -->
                <div class="form-group">
                    {{ form.email.label(class="control-label") }}
                    {{ form.email(class="form-control") }}
                    {% for error in form.email.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                
                <!-- Contact Number -->
                <div class="form-group">
                    {{ form.contact.label(class="control-label") }}
                    {{ form.contact(class="form-control") }}
                    {% for error in form.contact.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                
                <!-- Problem Title -->
                <div class="form-group">
                    {{ form.title.label(class="control-label") }}
                    {{ form.title(class="form-control") }}
                    {% for error in form.title.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                
                <!-- Problem Description -->
                <div class="form-group">
                    {{ form.description.label(class="control-label") }}
                    {{ form.description(class="form-control") }}
                    {% for error in form.description.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                
                <!-- Attach Files -->
                <div class="form-group">
                    {{ form.files.label(class="control-label") }}
                    {{ form.files(class="form-control", multiple=True) }}
                    {% for error in form.files.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                
                <!-- Submit and Cancel -->
                <div class="form-group">
                    <p><span class="require">*</span> - required fields</p>
                </div>
                
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}

                </div>
                
            </form>
        </div>
    </div>
</div>

{% endblock %}