{% extends 'layout.html' %}
{% block title %}
	Services
{% endblock  %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/services.css') }}">
{% endblock %}
{% block content %}
<div>
  <section id="pricing" class="pricing-content section-padding">
    <div class="container">
      <div class="section-title text-center">
        <h1>Pricing Plan</h1>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>
      <div class="row text-center">
        <!-- Starter Plan -->
        <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
          <div class="single-pricing">
            <div class="price-head">
              <h2>Starter</h2>
              <span></span>
            </div>
            <h1 class="price">$29</h1>
            <h5>Monthly</h5>
            <ul>
              <li>5 website</li>
              <li>50GB Disk Space</li>
              <li>50 Email Accounts</li>
            </ul>
            <a href="#">Get start</a>
          </div>
        </div>
        <!-- Popular Plan -->
        <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="single-pricing">
            <div class="price-head">
              <h2>Popular</h2>
              <span></span>
            </div>
            <h1 class="price">$49</h1>
            <h5>Monthly</h5>
            <ul>
              <li>10 website</li>
              <li>50GB Disk Space</li>
              <li>50 Email Accounts</li>
              <li>50GB Monthly Bandwidth</li>
              <li>10 Subdomains</li>
            </ul>
            <a href="#">Get start</a>
          </div>
        </div>
        <!-- Advance Plan -->
        <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
          <div class="single-pricing single-pricing-white">
            <div class="price-head">
              <h2>Advance</h2>
              <span></span>
            </div>
            <span class="price-label">Best</span>
            <h1 class="price">$69</h1>
            <h5>Monthly</h5>
            <ul>
              <li>15 website</li>
              <li>50GB Disk Space</li>
              <li>50 Email Accounts</li>
              <li>50GB Monthly Bandwidth</li>
              <li>10 Subdomains</li>
              <li>15 Domains</li>
              <li>Unlimited Support</li>
            </ul>
            <a href="#">Get start</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}