{% extends 'layout.html' %}
{% block title %}
    Top-Doctors
{% endblock  %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doctor.css') }}">
{% endblock  %}
{% block content %}
    
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="header-title pb-3 mt-0">Payments</h5>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr class="align-self-center">
                                    <th>Doctor-Type</th>
                                    <th>Doctor Name</th>
                                    <th>Place of Work</th>
                                    <th>Number Comments</th>
                                    <th>Expresense</th>
                                    <th>Stars</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Product Devlopment</td>
                                    {% if session[''] %}
                                    <td><img src="../../static/images/profile/male.png" alt="" class="thumb-sm rounded-circle mr-2" width="30" height="30"> Kevin Heal</td>
                                    {% else %}
                                    <td><img src="../../static/images/profile/female.png" alt="" class="thumb-sm rounded-circle mr-2" width="30" height="30"> Kevin Heal</td>
                                    {% endif %}
                                    <td>Paypal</td>
                                    <td>5/8/2018</td>
                                    <td>$15,000</td>
                                    <td><span class="badge badge-boxed badge-soft-warning">panding</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--end table-responsive-->
                    <div class="pt-3 border-top text-right"><a href="#" class="text-primary">View all <i class="mdi mdi-arrow-right"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}