{% extends 'layout2.html' %}
{% block title %}
    Doctor Profile
{% endblock %}
{% block content %}

<section style="background-color: #eee;">
    <div class="container py-5">
        <!-- Edit Button -->
        <div class="d-flex justify-content-start mb-4">
            <a href="{{url_for('doctorProfileUpdate')}}"><button type="button"  class="btn btn-secondary mb-3">Edit</button></a>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        {% if doctor.gender.upper()=="FEMALE"  %}
                            <img src="../../../static/images/profile/female.png" alt="avatar"class="rounded-circle img-fluid" style="width: 180px;">
                        {% else %}
                            <img src="../../../static/images/profile/male.png" alt="avatar"class="rounded-circle img-fluid" style="width: 180px;">
                        {% endif %}
                        <h5 class="my-3">{{ doctor.name }}</h5>
                        <p class="text-muted mb-1">Specialization: {{ doctor.specialization }}</p>
                        <p class="text-muted mb-4">Experience: {{ doctor.experience }} years</p>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fas fa-envelope fa-lg text-warning"></i>
                                <p class="mb-0">{{ doctor.email }}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fas fa-phone fa-lg text-body"></i>
                                <p class="mb-0">{{ doctor.contact_number }}</p>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ doctor.name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Specialization</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ doctor.specialization }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Experience</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ doctor.experience }} years</p>
                            </div>
                        </div>
                        <hr><div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Gender</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ doctor.gender }} </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Qualifications</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ doctor.qualifications }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Clinic/Hospital</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ doctor.clinic_hospital }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ doctor.address }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}