{% extends 'layout2.html' %}
{% block title %}
    Doctor Profile
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doctorprofile.css') }}">
{% endblock %}
{% block content %}
<div class="container rounded bg-white mt-5 mb-5">

    <!-- Doctor Information Section -->
    <div class="col-md-8">
        <div class="p-3 py-5">
            {% if flash %}
                {{ get_flashed_messages() }}
            {% endif %}
            <h4 class="mb-4">Doctor Information</h4>
            <!-- Use Flask-WTF Form -->
            <form method="POST" action="{{ url_for('doctorProfileUpdate') }}">
                {{ form.hidden_tag() }}
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Name</label>
                        {{ form.name(class="form-control", value=doctor['name']) }}
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Specialization</label>
                        {{ form.specialization(class="form-control", value=doctor['specialization']) }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="labels">Experience (in years)</label>
                        {{ form.experience(class="form-control", value=doctor['experience']) }}
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Qualifications</label>
                        {{ form.qualifications(class="form-control", value=doctor['qualifications']) }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="labels">Gender</label>
                        {{ form.gender(class="form-control") }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="labels">Contact Number</label>
                        {{ form.contact_number(class="form-control", value=doctor['contact_number']) }}
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Email</label>
                        {{ form.email(class="form-control", value=doctor['email']) }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Clinic/Hospital Name</label>
                        {{ form.clinic_hospital(class="form-control", value=doctor['clinic_hospital']) }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Address</label>
                        {{ form.address(class="form-control", value=doctor['address']) }}
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        {{ form.submit(class="btn btn-success btn-block") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}