{% extends 'layout2.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doctorprofile.css') }}">
{% endblock %}
{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <!-- Profile Picture Section -->
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <form action="/upload_profile_pic" method="POST" enctype="multipart/form-data">
                    <img class="rounded-circle mt-5" width="150px" 
                         src="" id="profilePicPreview">
                    <input type="file" class="form-control mt-3" id="profilePicInput" name="profile_photo" onchange="previewProfilePic(event)">
                    <button type="submit" class="btn btn-primary mt-3">Upload Picture</button>
                </form>
                <h4 class="font-weight-bold mt-3">{{session['username']}}</h4>
                <span class="text-muted"></span>
                <span class="text-muted"></span>
                <span class="text-muted mt-2">Working at: <strong></strong></span>
                <span class="text-muted mt-2">Comments: <strong></strong></span>
            </div>
        </div>
        
        <!-- Doctor Information Section -->
        <div class="col-md-9">
            <div class="p-3 py-5">
                
        </div>
    </div>
</div>
{% endblock %}